.AboutContainer p{ 
    /* border: 2px solid red;  */
     margin: 50px; 
     display: flex;
}

.ourTeamContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem;
    color: #768089;
}

.AboutContainer h1{
    color: #768089;
    padding-top: 2rem;
}
.team {
    /* border: 2px solid rgb(0, 47, 255); */
    display: grid;
    place-items: center;
    margin: 20px;
}

.ourTeamContainer .team img {
    padding: 5px;
    border-radius: 50%;
}

.ourTeamContainer .team .social-links a {
    margin: 5px;
    padding: 5px;
    background: #3356a1;
    border-radius: 50%;
    color: white;
}

small {
    margin-bottom: 10px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px;
  position: relative;
  z-index: 1;
  zoom: 1;
}

.features:after {
  content: " ";
  position: absolute;
  top: 50px;
  left: 15px;
  right: 15px;
  height: 50px;
  z-index: -1;
  /* background: url(images/dotted.png) repeat-x; */ /* Uncomment if needed */
  display: block;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .features:after {
    display: none;
  }
}

.feature-numbered {
  width: 90%;
  padding: 15px;
  margin: 10px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 480px) {
  .feature-numbered {
    width: 100%;
  }
}

.feature-numbered .num {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #0f75bd;
  background-color: white;
  color: #0f75bd;
  font-size: 2.25em;
  font-weight: 400;
  line-height: 1.8;
  margin: 10px auto 20px;
  padding: 10px;
  box-shadow: 0 0 0 10px white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.feature-numbered h2,
.feature-title {
  font-size: 1.25em;
  color: #0f75bd;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.feature-numbered h3 {
  color: #768089;
}

.feature-numbered p {
  line-height: 2;
  margin: 1em 0;
}

.history{
    background-color: rgb(241, 241, 241);
    width: 100%;
    padding: 10px 0px;
}
